<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Library</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <h2>Library</h2>
        <form method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title"></input><br/>
            <input type="submit"></input>
        </form>
        <ul th:each="book : ${books}">
            <li>
                <span th:text="${book.title}">Title</span>
            </li>
        </ul>
    </body>
</html>